        body {
            background: linear-gradient(to right, #36e8ff, #057dba);
            margin: 20px;
            margin-top: 20px;
            }

         .centro {
           align-items: center;
           text-align: center;
           padding-top: 10px;
           font-family: Arial, sans-serif;
           } 

        .container1 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            }

         .container {
             display: flex;
             justify-content: center;
             align-items: center;
             height: 100%; /* Faz o container ocupar toda a altura disponível */
             width: 100%; /* Garante que ocupe a largura total */
             }
        
        .text-p {
            max-width: 60%;
            margin-right: 60px;
            }
          
        .titulo {
            margin-right: 30px;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 28px;
            font-family: Arial, sans-serif;
            font-size: 50px;
            color: black;
            }
         
         .stitulo {
            margin-right: 20px;
            font-family: Arial, sans-serif;
            font-size: 18px;
            color: black;
            }

         .imagen {
            margin: 0;
            width: 200px !important; /* Tamanho fixo da imagem */
            height: auto; /* Mantém a proporção da imagem */
            max-width: 100%; /* Garantia de que a imagem não ultrapasse o contêiner */
            }

          .imagen2 {
            margin: 0;
            width: 130px !important; /* Tamanho fixo da imagem */
            height: auto; /* Mantém a proporção da imagem */
            max-width: 100%; /* Garantia de que a imagem não ultrapasse o contêiner */
            }


         .imgc {
            width: 100px;  
            height: 100px; 
            object-fit: cover;  
            border-radius: 50%; 
            }

          .imgc2 {
            width: 80px;  
            height: 80px; 
            object-fit: cover;  
            border-radius: 50%; 
            }

           .anuncio {
               width: 600px;
               height: 300px;
               }


         .galeria {
            display: grid;
            gap: 5px; /* Espaço entre as imagens */
            grid-template-columns: repeat(6, 1fr); /* 6 colunas no desktop */
            justify-items: center; /* Centraliza as imagens */
            }

         .bot3 {
            display: grid;
            gap: 5px; /* Espaço entre as imagens */
            grid-template-columns: repeat(3, 1fr); /* 6 colunas no desktop */
            justify-items: center; /* Centraliza as imagens */
            }

          .bot2 {
            display: grid;
            gap: 5px; /* Espaço entre as imagens */
            grid-template-columns: repeat(2, 1fr); /* 6 colunas no desktop */
            justify-items: center; /* Centraliza as imagens */
            }


         .cont {
            width: 40px;  
            height: 40px;
            }

         .bolha {
            text-align: center;
            line-height: 1px;
            }

          .começo {
            font-family: Arial, sans-serif;
            font-size: 16px;
            }

         .textb {
            font-size: 16px;
            font-family: Arial, sans-serif;
            }

          .text {
            font-size: 18px;
            font-family: Arial, sans-serif;
            }
     
          .ind {
            font-size: 22px;
            font-family: Arial, sans-serif;
            }

          h1 {
           font-family: Arial, sans-serif;
           font-size: 26px;
           }

          
          h2 {
           font-family: Arial, sans-serif;
           font-size: 22px;
           }

          h3 {
           font-family: Arial, sans-serif;
           }

           section {
               background-color: white;
               padding: 10px;
               border-radius: 15px;
               margin-top: 30px;
               }

          .buttons-container {
               display: flex;
               gap: 10px; /* Espaçamento entre os botões */
               align-items: center; /* Alinha verticalmente */
               text-align: center;
               place-items: center;
               margin: 0 auto;
               }

           .button-icon {
                width: 50px; /* Ajuste conforme o tamanho desejado */
                height: 50px;
                cursor: pointer;
                transition: transform 0.2s;
                }

           .button-icon:hover {
                transform: scale(1.1); /* Efeito ao passar o mouse */
                }
            

            .divs {
              padding: 20px;
              padding-top: 20px;
              }

             #Inicio {
               margin-top: 20px;
               }


 

         



        

        /* Responsividade para telas menores que 768px (celulares) */
        @media screen and (max-width: 768px) {

              body {
                margin: 14px;
              }

             .text-p {
            margin-right: -10px;
            max-width: 100%;
            }

            .imagen {
                margin-left: 0; /* Remove o espaçamento lateral em telas pequenas */
                max-width: 85px !important; /* Reduz o tamanho da imagem para dispositivos móveis */
            }

            .imagen2 {
                margin-left: 0; /* Remove o espaçamento lateral em telas pequenas */
                max-width: 70px !important; /* Reduz o tamanho da imagem para dispositivos móveis */
            }


            .titulo {
                font-size: 20px; /* Reduz o tamanho do título em telas menores */
                line-height: 15px;
            }

            .stitulo {
                font-size: 10px; /* Reduz o tamanho do subtítulo em telas menores */
            }

            .galeria {
                grid-template-columns: repeat(3, 1fr); /* 3 colunas no celular */
            }

            .textb {
               font-size: 12px;
               line-height: 12px;
            }

            .text {
               font-size: 12px;
            }


            .começo {
              font-size: 12px;
            }
              
            .imgc {
                width: 60px;  
                height: 60px;
            }

            .imgc2 {
                width: 50px;  
                height: 50px;
            }

            .ind {
               font-size: 16px;
            }

            h1 {
             font-size: 18px;
           }

          
            h2 {
             font-size: 16px;
            }

            .divs {
              padding: 10px;
              padding-top: 20px;
              }
    
              section {
               border-radius: 10px;
               margin-top: 20px;
               }

           .anuncio {
               width: 250px;
               height: 120px;
               }



}



